# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class
hooks/
# =========================
# Virtual environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
.eggs/
*.spec

# =========================
# PyInstaller
# =========================
*.manifest
*.exe
*.dll

# =========================
# Logs
# =========================
*.log
*.bak
*.txt

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment secrets
# =========================
.env
.env.*
